body{
    font-family: Open Sans;
    margin: 0px;
}

.periods{
    position: absolute;
    left: 25%;
    display:none;
}

input[type=checkbox]:checked ~ .periods{
    display: inline;
}

input[type=button]{
    font-size: 20px;
    padding: 5px 30px;
    margin: 10px;
}

.movie0{ background: pink;}
.movie1{ background: orange;}
.movie2{ background: yellow;}
.movie3{ background: paleGreen;}
.movie4{ background: lightblue;}
.movie5{ background: plum;}
.movie6{ background: salmon;}
.movie7{ background: tan;}
.movie8{ background: khaki;}
.movie9{ background: yellowGreen;}
.movie10{ background: aliceBlue;}
.movie11{ background: mediumPurple;}

#scheds{
    margin-top: 2em;
}

.sched{
    height: 3em;
    margin-bottom: 5px;
}

.sched-sn{
    display: inline-block;
    font-weight: bold;
}

.movies{
    height: 3em;
    display: inline-block;
    box-sizing: border-box;
    border: black solid 1px;
}

.movie{
    height: 3em;
    display: inline-block;
    position: absolute;
    box-sizing: border-box;
    border: black solid 1px;
}

